.topo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;

    width: 100%;
    background: $bg-header;

    .navbar-header{
        float: none;

        .logo{
            margin: 5px 0;
            text-align: center;

            img{display: inline-block;}
        }
    }
}