extend common/template.pug

block title
	title Documentos
//- block title

block theme
	meta(name="msapplication-TileColor", content="#2F3BA2")
	meta(name="theme-color", content="#2F3BA2")
//- block theme

block conteudo
	// CONTEUDO
//- block conteudo