extend common/template.jade

block title
	title Documentos

block conteudo
	// CONTEUDO
	section.internas
		.container
			header.page-header
				h1 Links Úteis
			// page-header

			-for(var x=0;x<8;x++)
				article.link-util
					h1 Nome do link
					h2 Descrição:
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique natus officiis, molestiae expedita, blanditiis vero eos. Fugit dolorem laborum iure optio aut nisi accusamus fuga saepe ipsam sit a mollitia itaque, iusto nobis, sed unde vel, ex quaerat adipisci autem earum. Aut nobis, amet libero nulla quam iusto delectus, incidunt.
			+paginacao
		//- .container
	// internas