extend common/template.jade

block title
	title Documentos

block conteudo
	// CONTEUDO
	section.internas
		.container
			header.page-header
				h1 Vídeos
			// page-header

			.youtube-carousel#carousel-1
		//- .container
	// internas