.lb-cancel{
    background: url(#{$imgs}/loading.gif) no-repeat;
}

.lb-nav a.lb-prev{
    background: url(#{$imgs}/prev.png) left 48% no-repeat;
}

.lb-nav a.lb-next{
    background: url(#{$imgs}/next.png) right 48% no-repeat;
}

.lb-data .lb-close{
    background: url(#{$imgs}/close.png) top right no-repeat;
}


.noround{
    border-radius:0;
}

.img-responsive{
    display: inline-block;
    @extend .img-fluid;
}