footer.rodape(class={"rodape-internas": internas})
    .container
        .creditos.clearfix.bg-blue
            .pull-left
                span.c-white Fábrica de Valores © Todos os direitos reservados
                span.c-white Criação de Sites: GV8 Sites & Sistemas

            figure.pull-right
                a(href="#", target="_blank")
                    img(src="imagens/estrutural/logo-gv8.png", alt="", title="", class="img-responsive")