footer#contato.rodape
    .container
        header.page-header.text-center
            h1.c-white CONTATO

        .text.align-justify
            p.c-white Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.

        .row
            .col-md-4
                figure.image-contato
                    img(src="imagens/estrutural/phone-contato.png", alt="", title="", class="img-responsive")

                .text-center
                    p.c-white Lorem Ipsum é simplesmente uma simulação de texto da indústria.
                    p.c-white #[strong (19) 2139.7107]

            //- col-md-4

            .col-md-4
                figure.image-contato
                    img(src="imagens/estrutural/marker-contato.png", alt="", title="", class="img-responsive")

                .text-center
                    p.c-white Lorem Ipsum é simplesmente uma simulação de texto da indústria.
                    p.c-white #[strong Avenida José de Souza Campos, nº 1073. Sala 1504. Cambuí - Campinas/SP CEP 13025-320]

            //- col-md-4

            .col-md-4
                figure.image-contato
                    img(src="imagens/estrutural/message-contato.png", alt="", title="", class="img-responsive")

                .text-center
                    p.c-white Lorem Ipsum é simplesmente uma simulação de texto da indústria.
                    p.c-white #[strong contato@fabricadevalores.com.br]

            //- col-md-4
        //- row

        .creditos.clearfix
            .pull-left
                span.c-white Fábrica de Valores © Todos os direitos reservados
                span.c-white Criação de Sites: GV8 Sites & Sistemas

            figure.pull-right
                a(href="#", target="_blank")
                    img(src="imagens/estrutural/logo-gv8.png", alt="", title="", class="img-responsive")