header.topo
	.container
		.row
			.col-md-4
				.navbar-header
					figure.logo
						a(href="index.html")
							img(src="imagens/estrutural/logo.png", alt="", title="", class="img-response")

					button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#menu")
						i.fa.fa-bars

				//-navbar-header
			//- col-md-4

			.col-md-6.col-md-offset-2
				nav.menu-header.navbar-header.navbar-fixed-top
					block active
						-var currentUrl = "cont"

					ul#menu.collapse.unlistenner.nav
						li(class={"active": currentUrl == "home"}) #[a(href="#wrapper") 		Home]
						li(class={"active": currentUrl == "inst"}) #[a(href="#apresentacao") 	Quem Somos]
						li(class={"active": currentUrl == "serv"}) #[a(href="#services") 		Serviços]
						li(class={"active": currentUrl == "clie"}) #[a(href="#clientes") 		Clientes]
						li(class={"active": currentUrl == "cont"}) #[a(href="#contato") 		Contato]

				//- menu-header
			//- col-md-8
		//- row
//- topo