doctype html
html(lang="pt-br")
	head
		block title
			title Documento

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="theme-color", content="2B3085")

		link(rel="stylesheet", type="text/css", href="styles/estilos.min.css")
		link(rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico")

		include mixins.jade

	block internas
		-var internas = false

	block custom
		-var bg = ""

	body(data-spy="scroll", data-target=".topo", data-offset="150")
		noscript
			.alert.alert-warning.text-center
				h1 Seu navegador está com os scripts desabilitados!
				p Para melhor funcionamento do site, habilite-os.

		#wrapper.wrapper(class={"wrapper-internas": internas}, style="background: #{bg}; background-size: cover;")
			include header.jade
			block conteudo

		// /.wrapper
		block footer
			include footer.jade

		script(src="js/starter.js")
		script(src="js/lightbox.min.js")
		script(src="js/scripts.js")
		//
			[if lt IE 10]>
				<script>message_IE();</script>
			<![endif]