mixin code21(titulo,linkInterna)
	-var title = titulo || 'Produtos || Serviços'
	-var link = linkInterna || '#'
	// CONTEUDO
	main.internas
		.container
			header.page-header
				h1 #{title}
			// page-header


			.row
				-for(var x=0;x<12;x++)
					.col-md-3.col-sm-4
						.produto-v
							a(href=link)
								figure.foto
									img(src="http://dummyimage.com/220x220/33B3B1/fff.gif&text=placeholder+image", alt="descricao").img-responsive
								.nome Nome do Produto/Serviço
								.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et perferendis excepturi voluptates, non totam, optio commodi dolorem, dignissimos hic maiores eligendi nobis tenetur earum nihil quibusdam molestias. Minus sint, quod.
			//- .row
		//- .container
	// internas