// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Agenda e Eventos
		// page-header

		img(src="http://dummyimage.com/485x485/4d494d/FFF.png&text=485+x+485", alt="nome/descricao",style="margin:0 30px 30px 0").img-responsive.pull-left
		h1.mgt-0 Data do Evento: 00/00/0000
		h2.h3.mgt-0 Localização: Lorem ipsum dolor.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum corporis alias iste autem, explicabo, sapiente incidunt velit perspiciatis quasi soluta, reprehenderit debitis ullam dolorum, provident cupiditate. Magnam doloremque numquam perspiciatis rem, obcaecati deserunt non, harum velit cupiditate sapiente eius quis esse laudantium fugiat amet blanditiis iusto! Inventore, dolores unde natus.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum corporis alias iste autem, explicabo, sapiente incidunt velit perspiciatis quasi soluta, reprehenderit debitis ullam dolorum, provident cupiditate. Magnam doloremque numquam perspiciatis rem, obcaecati deserunt non, harum velit cupiditate sapiente eius quis esse laudantium fugiat amet blanditiis iusto! Inventore, dolores unde natus.

		.text-right.mgt-50
			a(href="#").btn.btn-danger.btn-voltar Voltar
	//- .container
// internas