mixin code26(titulo,linkInternas)
	-var titulo = titulo || 'Clientes | Parceiros'
	-var link = linkInternas || '#'
	// CONTEUDO
	main.internas
		.container
			header.page-header
				h1=titulo
			// page-header


			.row
				-for(var x=0;x<12;x++)
					// REPETE
					article.col-sm-4.col-md-3
						a(href=link)
							figure.cliente-v
								.foto
									img(src="http://dummyimage.com/220x220/4d494d/FFF.png&text=220+x+220", alt="nome/descricao").img-responsive
								figcaption
									.nome Nome do Parceiro/ Cliente
					// FIM REPETE
			+paginacao
		//- .container
	// internas