// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Galeria de Fotos
		// page-header


		.row
			-for(var x=0;x<12;x++)
				.col-md-3.col-sm-4
					.galeria-v
						a(href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&text=placeholder+image",data-lightbox="image-1",title="nome/descricao")
							figure.foto
								img(src="http://dummyimage.com/220x220/33B3B1/fff.gif&text=placeholder+image", alt="descricao").img-responsive
		//- .row
	//- .container
// internas