// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Orçamento
		// page-header

		.row
			.col-sm-6
				+campo('text','campo-1','Campos Gerenciáveis pelo Cliente:')
				+campo('text','campo-2','Campos Gerenciáveis pelo Cliente:')
				+campo('text','campo-3','Campos Gerenciáveis pelo Cliente:')
				+campo('text','campo-4','Campos Gerenciáveis pelo Cliente:')
				.row
					.col-sm-6
						+select('campo-5','Campos Gerenciáveis pelo Cliente:')
					.col-sm-6
						+campo('text','campo-6','Campos Gerenciáveis pelo Cliente:')
				.row
					.col-sm-6
						+campo('text','campo-7','Campos Gerenciáveis pelo Cliente:')
					.col-sm-6
						+campo('text','campo-8','Campos Gerenciáveis pelo Cliente:')
				+textarea(8,'campo-9','Campos gerenciáveis pelo Cliente:')
				.row
					.col-sm-8
						+select('campo-10','Campos gerenciáveis pelo Cliente:')
				button.btn.btn-danger.btn-block.btn-enviar Enviar

			.col-sm-6
				img.img-responsive(src="http://dummyimage.com/485x300/4d494d/FFF.gif&text=placeholder+image", alt="nome/descricao").mgb-20
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores pariatur rem dolore dolorem quos non perspiciatis sunt, nam, nihil cum ab provident temporibus obcaecati nisi. Perferendis alias earum ipsum quas assumenda voluptatem iure, quae similique! Minima consectetur distinctio veritatis maxime repellendus expedita possimus unde blanditiis, cum nulla, omnis, magni soluta neque libero quaerat. Accusamus repellat molestiae placeat vitae distinctio modi quia sint minus aspernatur ipsum, sunt velit ratione excepturi ex dicta minima, sed autem mollitia vero illo? Dicta, nam.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores pariatur rem dolore dolorem quos non perspiciatis sunt, nam, nihil cum ab provident temporibus obcaecati nisi. Perferendis alias earum ipsum quas assumenda voluptatem iure, quae similique! Minima consectetur distinctio veritatis maxime repellendus expedita possimus unde blanditiis, cum nulla, omnis, magni soluta neque libero quaerat. Accusamus repellat molestiae placeat vitae distinctio modi quia sint minus aspernatur ipsum, sunt velit ratione excepturi ex dicta minima, sed autem mollitia vero illo? Dicta, nam.
		//- .row
	//- .container
// internas