// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Formulário
		// page-header
		.row
			.col-sm-6
				+campo('text','campo-1','Campos Gerenciáveis pelo Cliente:')
				+campo('text','campo-2','Campos Gerenciáveis pelo Cliente:')
				+campo('text','campo-3','Campos Gerenciáveis pelo Cliente:')
				+campo('text','campo-4','Campos Gerenciáveis pelo Cliente:')
				.row
					.col-sm-6
						+select('campo-5','Campos Gerenciáveis pelo Cliente:')
					.col-sm-6
						+campo('text','campo-6','Campos Gerenciáveis pelo Cliente:')
				.row
					.col-sm-6
						+campo('text','campo-7','Campos Gerenciáveis pelo Cliente:')
					.col-sm-6
						+campo('text','campo-8','Campos Gerenciáveis pelo Cliente:')
				+textarea(8,'campo-9','Campos gerenciáveis pelo Cliente:')
				.row
					.col-sm-8
						+select('campo-10','Campos gerenciáveis pelo Cliente:')
				button.btn.btn-danger.btn-block.btn-enviar Enviar

			.col-sm-6
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus at laudantium tempora porro voluptatibus, quae debitis voluptatem consequuntur rerum quas, facilis ipsum repellat harum vitae dolores, cumque doloribus doloremque officiis saepe. At, laborum voluptatem, officiis ratione deleniti, molestiae aperiam est totam sint fuga dolorem. Consequatur hic laudantium magni tempora tenetur ducimus quidem ipsam dicta blanditiis dolores iusto, similique fugiat facilis quasi nemo nisi velit aspernatur obcaecati sint esse repellat voluptates. Voluptas repellendus et minima assumenda quisquam dignissimos, veniam at voluptates.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus at laudantium tempora porro voluptatibus, quae debitis voluptatem consequuntur rerum quas, facilis ipsum repellat harum vitae dolores, cumque doloribus doloremque officiis saepe. At, laborum voluptatem, officiis ratione deleniti, molestiae aperiam est totam sint fuga dolorem. Consequatur hic laudantium magni tempora tenetur ducimus quidem ipsam dicta blanditiis dolores iusto, similique fugiat facilis quasi nemo nisi velit aspernatur obcaecati sint esse repellat voluptates. Voluptas repellendus et minima assumenda quisquam dignissimos, veniam at voluptates.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus at laudantium tempora porro voluptatibus, quae debitis voluptatem consequuntur rerum quas, facilis ipsum repellat harum vitae dolores, cumque doloribus doloremque officiis saepe. At, laborum voluptatem, officiis ratione deleniti, molestiae aperiam est totam sint fuga dolorem. Consequatur hic laudantium magni tempora tenetur ducimus quidem ipsam dicta blanditiis dolores iusto, similique fugiat facilis quasi nemo nisi velit aspernatur obcaecati sint esse repellat voluptates. Voluptas repellendus et minima assumenda quisquam dignissimos, veniam at voluptates.
		//- .row
	//- .container
// internas