// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Agenda || Eventos
		// page-header


		.mgb-60
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maxime sed dolorem quaerat, hic doloribus beatae, voluptatibus doloremque cum deserunt in excepturi omnis at quo eum rerum reprehenderit vitae non nemo delectus laudantium dolorum, quidem voluptatum. Possimus velit numquam magni ab eius quos accusantium, sed sit tenetur beatae fugiat commodi dignissimos iusto itaque, unde quam quaerat architecto repellat asperiores earum ipsum quas. Minus consectetur, voluptate maiores natus culpa ratione laboriosam, adipisci provident praesentium velit odit corporis hic porro excepturi amet!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maxime sed dolorem quaerat, hic doloribus beatae, voluptatibus doloremque cum deserunt in excepturi omnis at quo eum rerum reprehenderit vitae non nemo delectus laudantium dolorum, quidem voluptatum. Possimus velit numquam magni ab eius quos accusantium, sed sit tenetur beatae fugiat commodi dignissimos iusto itaque, unde quam quaerat architecto repellat asperiores earum ipsum quas. Minus consectetur, voluptate maiores natus culpa ratione laboriosam, adipisci provident praesentium velit odit corporis hic porro excepturi amet!
		.row
			-for(var x=0;x<4;x++)
				.col-sm-3.mgb-30
					a(href="http://dummyimage.com/1000x1000/4d494d/FFF.png&text=220+x+220", data-lightbox="image-1",title="nome/descricao")
						img(src="http://dummyimage.com/220x220/4d494d/FFF.png&text=220+x+220",alt="nome/descricao").img-responsive
	//- .container
// internas