@import "modulos/_transform.scss";
@import "modulos/_transition.scss";
@import "modulos/_animation.scss";
@import "modulos/_keyframes.scss";
@import "modulos/_placeholder.scss";
@import "modulos/_resumo.scss";