.rodape{
    position: relative;
    background: $bg-rodape;

    .image-contato{
        margin-top: 45px;
        margin-bottom: 15px;

        text-align: center;
        img{display: inline-block;}
    }

    .creditos{
        margin-top: 125px;
        margin-bottom: 45px;
        span{
            display: block;
            line-height: 120%;

            font-family: Verdana, Sans-serif;
            font-size: 11px;
        }
    }
}