// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Empresa || Quem Somos
		// page-header

		.clearfix
			img(src="http://dummyimage.com/300x300/4d494d/686a82.gif&text=placeholder+image", alt="descricao",style="margin:0 30px 30px 0").img-responsive.pull-left
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor iste repellendus deserunt aperiam praesentium sunt quis perferendis vero, autem tenetur aliquam laboriosam corporis ipsum delectus et quia nulla. Sequi enim voluptate, iusto unde dolores pariatur aliquam laboriosam laudantium nisi fuga suscipit tenetur deleniti aperiam molestias possimus vero consequuntur recusandae!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor iste repellendus deserunt aperiam praesentium sunt quis perferendis vero, autem tenetur aliquam laboriosam corporis ipsum delectus et quia nulla. Sequi enim voluptate, iusto unde dolores pariatur aliquam laboriosam laudantium nisi fuga suscipit tenetur deleniti aperiam molestias possimus vero consequuntur recusandae!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor iste repellendus deserunt aperiam praesentium sunt quis perferendis vero, autem tenetur aliquam laboriosam corporis ipsum delectus et quia nulla. Sequi enim voluptate, iusto unde dolores pariatur aliquam laboriosam laudantium nisi fuga suscipit tenetur deleniti aperiam molestias possimus vero consequuntur recusandae!
			img(src="http://dummyimage.com/300x300/4d494d/686a82.gif&text=placeholder+image", alt="descricao",style="margin:30px 0 30px 30px").img-responsive.pull-right
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor iste repellendus deserunt aperiam praesentium sunt quis perferendis vero, autem tenetur aliquam laboriosam corporis ipsum delectus et quia nulla. Sequi enim voluptate, iusto unde dolores pariatur aliquam laboriosam laudantium nisi fuga suscipit tenetur deleniti aperiam molestias possimus vero consequuntur recusandae!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor iste repellendus deserunt aperiam praesentium sunt quis perferendis vero, autem tenetur aliquam laboriosam corporis ipsum delectus et quia nulla. Sequi enim voluptate, iusto unde dolores pariatur aliquam laboriosam laudantium nisi fuga suscipit tenetur deleniti aperiam molestias possimus vero consequuntur recusandae!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor iste repellendus deserunt aperiam praesentium sunt quis perferendis vero, autem tenetur aliquam laboriosam corporis ipsum delectus et quia nulla. Sequi enim voluptate, iusto unde dolores pariatur aliquam laboriosam laudantium nisi fuga suscipit tenetur deleniti aperiam molestias possimus vero consequuntur recusandae!
	//- .container
// internas