// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Galeria de Fotos
		// page-header

		.clearfix
			-for(var x=0;x<4;x++)
				img(src="http://dummyimage.com/970x500/33B3B1/fff.gif&text=placeholder+image", alt="descricao").img-responsive.mgb-30
	//- .container
// internas