// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Produtos || Serviços
		// page-header

		.mgb-40
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio laudantium eius aliquid, sunt dolores doloribus corporis ad nisi nemo repellat vero, quae quidem maiores deserunt cum dolore? Fugit beatae, provident exercitationem quasi error dignissimos velit officia totam accusamus unde numquam aliquid ad voluptatem, veniam est. Fugiat quia perferendis ut corporis, odit reprehenderit asperiores in quaerat quod cum voluptate voluptates ipsam atque. Omnis perferendis ab quos repellat, optio placeat eveniet iusto consectetur quod accusamus quibusdam, quis reprehenderit at. Esse, autem iste.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio laudantium eius aliquid, sunt dolores doloribus corporis ad nisi nemo repellat vero, quae quidem maiores deserunt cum dolore? Fugit beatae, provident exercitationem quasi error dignissimos velit officia totam accusamus unde numquam aliquid ad voluptatem, veniam est. Fugiat quia perferendis ut corporis, odit reprehenderit asperiores in quaerat quod cum voluptate voluptates ipsam atque. Omnis perferendis ab quos repellat, optio placeat eveniet iusto consectetur quod accusamus quibusdam, quis reprehenderit at. Esse, autem iste.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio laudantium eius aliquid, sunt dolores doloribus corporis ad nisi nemo repellat vero, quae quidem maiores deserunt cum dolore? Fugit beatae, provident exercitationem quasi error dignissimos velit officia totam accusamus unde numquam aliquid ad voluptatem, veniam est. Fugiat quia perferendis ut corporis, odit reprehenderit asperiores in quaerat quod cum voluptate voluptates ipsam atque. Omnis perferendis ab quos repellat, optio placeat eveniet iusto consectetur quod accusamus quibusdam, quis reprehenderit at. Esse, autem iste.


		.row
			-for(var x=0;x<4;x++)
				.col-md-3.col-sm-4
					.produto-v
						a(href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&text=placeholder+image",data-lightbox="image-1",title="nome/descricao")
							figure.foto
								img(src="http://dummyimage.com/220x220/33B3B1/fff.gif&text=placeholder+image", alt="descricao").img-responsive
		//- .row
	//- .container
// internas