// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Vídeos
		// page-header

		.row
			.col-md-9
				#video-g.mgb-15
					iframe(src="https://www.youtube.com/embed/vTmvnLbwU0g", frameborder="0", allowfullscreen)

				.youtube-carousel.carousel#carousel-1.slide.hidden-md.hidden-lg.mgb-30
					.carousel-inner
					a(href="#carousel-1",data-carousel="prev").controls.left: i.fa.fa-chevron-left
					a(href="#carousel-1",data-carousel="next").controls.right: i.fa.fa-chevron-right
				.text-justify
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas alias quod sunt, dicta rem nostrum quia, neque tempore, magni quo quidem fugiat provident ipsa laudantium, ipsam quibusdam eum odio fugit adipisci. Ex distinctio voluptatum, officia quasi sint fugiat quia nisi ullam vel. In fuga aliquam a incidunt unde alias illo velit quia ab vitae eaque officiis quidem est, natus asperiores ea reprehenderit molestias nesciunt quo similique fugit minus! At blanditiis illo, natus sunt, maxime labore? Atque repellendus optio, labore repellat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas alias quod sunt, dicta rem nostrum quia, neque tempore, magni quo quidem fugiat provident ipsa laudantium, ipsam quibusdam eum odio fugit adipisci. Ex distinctio voluptatum, officia quasi sint fugiat quia nisi ullam vel. In fuga aliquam a incidunt unde alias illo velit quia ab vitae eaque officiis quidem est, natus asperiores ea reprehenderit molestias nesciunt quo similique fugit minus! At blanditiis illo, natus sunt, maxime labore? Atque repellendus optio, labore repellat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas alias quod sunt, dicta rem nostrum quia, neque tempore, magni quo quidem fugiat provident ipsa laudantium, ipsam quibusdam eum odio fugit adipisci. Ex distinctio voluptatum, officia quasi sint fugiat quia nisi ullam vel. In fuga aliquam a incidunt unde alias illo velit quia ab vitae eaque officiis quidem est, natus asperiores ea reprehenderit molestias nesciunt quo similique fugit minus! At blanditiis illo, natus sunt, maxime labore? Atque repellendus optio, labore repellat.
			.col-md-3
				.youtube-carousel.carousel#carousel-2.hidden-xs.hidden-sm
					.carousel-inner
					a(href="#carousel-2",data-carousel="prev").controls.top: i.fa.fa-chevron-up
					a(href="#carousel-2",data-carousel="next").controls.bottom: i.fa.fa-chevron-down
	//- .container
// internas