// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Vídeos
		// page-header


		.mgb-40.clearfix
			img.img-responsive(src="http://dummyimage.com/300x250/4d494d/FFF.gif&text=placeholder+image", alt="nome/descricao",style="margin:0 30px 30px 0").pull-left
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quae est minima. Possimus deserunt, dicta atque veritatis provident, adipisci quibusdam excepturi voluptas fugit, perspiciatis neque asperiores harum distinctio autem dolor eveniet? Accusantium obcaecati minima iusto veniam fugit esse illo repellendus, perspiciatis laboriosam enim amet quas minus veritatis a ea, illum magni sed recusandae praesentium architecto eum impedit. Reprehenderit eos quos dicta? Vero laborum cumque voluptates nisi, ea velit quibusdam, tenetur repellendus et consequatur similique. Minus, impedit vero. Doloremque, corrupti, nesciunt?
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quae est minima. Possimus deserunt, dicta atque veritatis provident, adipisci quibusdam excepturi voluptas fugit, perspiciatis neque asperiores harum distinctio autem dolor eveniet? Accusantium obcaecati minima iusto veniam fugit esse illo repellendus, perspiciatis laboriosam enim amet quas minus veritatis a ea, illum magni sed recusandae praesentium architecto eum impedit. Reprehenderit eos quos dicta? Vero laborum cumque voluptates nisi, ea velit quibusdam, tenetur repellendus et consequatur similique. Minus, impedit vero. Doloremque, corrupti, nesciunt?

		.row
			-for (var x=0;x<3;x++)
				.col-sm-4
					.video-container
						<iframe src="//player.vimeo.com/video/74447186" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	//- .container
// internas