// CONTEUDO
section.internas
	.container
		header.page-header
			h1 Galeria de Fotos
		// page-header


		.row
			.col-md-6
				.row
					.col-sm-6
						article.card.parceiro
							figure.foto
								img.img-responsive(src="http://dummyimage.com/485x345/33B3B1/fff.gif&text=345+x+345", alt="nome/descricao")
							.content
								header.title-card
									h1 Nome do Parceiro
								.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minus eum consequuntur ex error aliquid nobis, adipisci qui accusamus, corrupti hic! Obcaecati sunt, eos cupiditate rerum quidem alias reprehenderit officia praesentium, debitis est numquam vitae nostrum facilis voluptatum cum expedita eum aliquam voluptatem provident sequi dolores. Sapiente amet temporibus est. Aut, odit. Sint consequatur, repellat, totam maiores possimus error nostrum provident eveniet optio iste laborum obcaecati qui excepturi consectetur temporibus explicabo dolorem quisquam, a eligendi officiis quo minus adipisci? Accusamus
					.col-sm-6
						article.card.parceiro
							figure.foto
								img.img-responsive(src="http://dummyimage.com/485x345/33B3B1/fff.gif&text=345+x+345", alt="nome/descricao")
							.content
								header.title-card
									h1 Nome do Parceiro
								.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minus eum consequuntur ex error aliquid nobis, adipisci qui accusamus, corrupti hic! Obcaecati sunt, eos cupiditate rerum quidem alias reprehenderit officia praesentium, debitis est numquam vitae nostrum facilis voluptatum cum expedita eum aliquam voluptatem provident sequi dolores. Sapiente amet temporibus est. Aut, odit. Sint consequatur, repellat, totam maiores possimus error nostrum provident eveniet optio iste laborum obcaecati qui excepturi consectetur temporibus explicabo dolorem quisquam, a eligendi officiis quo minus adipisci? Accusamus
		+paginacao
	//- .container
// internas