//- MIXIN DAS PÁGINAS INTERNAS

include modules/cod_07.pug

include modules/cod_11.pug
include modules/cod_11_detalhes.pug

include modules/cod_21.pug
include modules/cod_21_detalhes.pug

include modules/cod_26.pug

include modules/cod_29.pug